*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
}
body {
    height: 100vh;
    width: 100vw;
    font-family: 'Alata', sans-serif;
    background-image: url("images/undraw_japan_ubgk.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.jp {
    font-family: 'Kosugi Maru', sans-serif;
}
/* Header */
.container {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 7vh;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.navWrapper {
    display: flex;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    color: white;
    background-color:#F50057;
    font-size: 16px;
    height: 100%;
    border: none;
    cursor: pointer;
}
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  .dropdown-content a:hover {
      background-color: #F50057;
      color: white;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/* main content kanji generator */
.generatorWrapper {
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1.5fr 1fr;
    
    gap: 1px;
    height: 90vh;
}
.generatorBoxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    background-color:#ffffff80;
    border: 2px solid black;
}
.boxTitles {
    text-transform: capitalize;
}
#kanjiCharacter {
    font-size: 5rem;
}
#hiraganaReading {
    display: none;
    font-size: 1.5rem;
}
#englishTranslation {
    display: none;
    font-size: 2rem;
}
